.food,
#head {
    text-align: center;
    font-size: 45px;
}
 
#head{
    font-size: 100px;
}


img{
     height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 70%;
 }